/* Navbar */
header#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #E5E7EB;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3B82F6;
}

nav{
    width: 800px;
    display: flex;
    margin-right: 30px;
}

/* Nav Links */
header nav ul {
    display: flex;
    gap: 40px;

}

header nav ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #111827;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #3B82F6;
}

/* Search Box */
.search-box {
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    margin-right: 20px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 0.95rem;
}

.search-box .search-icon {
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 5px;
}
